.container {
    width: 25em;
    height: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Rubik';
    margin-top: 3em;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 2px;
}

.account {
    font-size: 2.2em;
    margin: 0 0 0.1em 0;
}