.container {
    display: flex;
    flex-direction: column;
    color: #168990;
    background-color: white;
    width: 100%;
    height: 39em;
    font-family: Rubik;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.20);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 2px;
}

.opcgroup {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.opc {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.20);
    border-bottom: none;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 2px; */
}

.container.opc2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.20);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 2px;
}

.button {
    background-color: #168990;
    border: 1px solid rgba(0, 0, 0, 0.20);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 2px;
    color: white;
    margin: 2em 0.25em 0em 0.25em;
    outline: none;
    text-decoration: none;
}

.button:focus,
.button:hover {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.20);
}


.border {
    padding: 0.5em 1em 1em 1em; 
    height: 82%;
    background-color: transparent;
}

.border2 {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.30);
}

.spanCar {
    color: rgba(0, 0, 0, 0.70);
    font-weight: bold;
}

.spanInfo {
    color: rgba(0, 0, 0, 0.70);
    font-size: 1.1em;
}

.nextdown {
    margin: 0em 1em 0 1em;
    background-color: white;
    border: 1px solid rgba(22, 137, 144, 0.70);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 2px;
    color: #168990;
    outline: none; 
    text-decoration: none;
}

.nextdown:focus,
.nextdown:hover {
    outline: none;
    border: 1px solid rgba(22, 137, 144, 0.70);
}
