.modal {
  width: 50%;
  height: 30em;
  background-color: white;
  border-radius: 10px;
  border: 3px solid rgba(22, 137, 144, 0.7);
}

.label {
  color: rgba(0, 0, 0, 0.70);
  font-weight: bold;
  font-size: 1em;
  -webkit-text-stroke: 0.2px black;
}

.labelnome {
  color: rgba(22, 137, 144, 0.7);
  font-weight: bold;
  font-size: 2em;
  -webkit-text-stroke: 0.2px black;
}

.descnome {
  color: rgba(0, 0, 0, 0.7);
  font-size: 2em;
  -webkit-text-stroke: 0.2px black;
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detailsText {
  font-size: 1.2em;
  margin-top: 0.2em;
  color: rgba(0, 0, 0, 0.70);
  font-weight: bold;
  z-index: 2;
}

.detailsImg {
  position: relative;
  top: 0.1em;
  margin-right: 0.2em;
  height: 1.2em;
}

.contorno {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 5em;
  width: 90%;
  margin-bottom: 1em;
  border-radius: 5px;
  padding: 5px;
  border: 1.5px solid rgba(22, 137, 144, 0.7);
}

.contorno2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 5em;
  margin-bottom: 1em;
  width: 95%;
  border-radius: 5px;
  padding: 5px;
  border: 1.5px solid rgba(22, 137, 144, 0.7);
}


