.modal {
    width: 45%;
    height: 28em;
    position: relative;
    background-color: white;
    border-radius: 10px;
    border: 3px solid rgba(22, 137, 144, 0.70);
}

.junLabel {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
}

.inputText {
    width: 90%;
    height: 2em;
    border-radius: 4px;
    outline: none;
    border: 1px solid rgba(22, 137, 144, 0.70);
}
.inputName {
    width: 94.8%;
    height: 2em;
    border-radius: 4px;
    outline: none;
    border: 1px solid rgba(22, 137, 144, 0.70);
}

.label {
    color: rgba(0, 0, 0, 0.70);
    font-weight: bold;
    margin-top: 0.5em;
}

.textArea {
    width: 94%;
    height: 6em;
    border-radius: 4px;
    outline: none;
    border: 1px solid rgba(22, 137, 144, 0.70);
    resize: none;
}

.inputDate {
    width: 90%;
    height: 2em;
    border-radius: 4px;
    outline: none;
    border: 1px solid rgba(22, 137, 144, 0.70);
}

.select {
    width: 90%;
    height: 2.4em;
    outline: none;
    border-radius: 4px;
    border: 1px solid rgba(22, 137, 144, 0.70);
}

.button {
    display: flex;
    align-items: center;
    background-color: #168990;
    height: 2.3em;
    margin-top: 2em;
    border: 1px solid rgba(0, 0, 0, 0.20);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 2px;
    color: white;
    outline: none;
    text-decoration: none;
}

.details {
    padding: 0 0.5em 0 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    border-radius: 5px;
    position: relative;
}

.details::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 2px solid rgba(22, 137, 144, 0.70);
    border-right: 2px solid rgba(22, 137, 144, 0.70);
    width: 20%;
    height: 50%;
    border-radius: 0 0 5px 0;
}

.details::after {
    content: '';
    position: absolute;
    bottom: 0.6em;
    left: 0;
    border-top: 2px solid rgba(22, 137, 144, 0.70);
    border-left: 2px solid rgba(22, 137, 144, 0.70);
    width: 20%;
    height: 50%;
    border-radius: 5px 0 0 0;
}


.category {
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.70);
    font-weight: bold;
}

.button:focus,
.button:hover {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.20);
}

